.navbar {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 30px;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.heroBox {
  display: flex;
  justify-content: center;
}

#online, #description {
  font-family: 'Poppins';
  width: 80%;
  padding-left: 15px;
}


.card {
  width: 175px;
  font-size: 12px;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px
}

.bold {
  font-weight: bold;
}

.grey {
  color: gray;
}

.font {
  font-family: 'Poppins';
}

.card--badge {
  position: absolute;
  top: 6px;    
  left: 6px;    
  background-color: white;    
  padding: 5px 7px;    
  border-radius: 2px;    
  font-weight: bold;
}